.Sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -100%;
    width: 100%;
    background-color: $firstColor;
    // height: 100vh;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    transition: left .2s;
    border-right: 2px solid #32354b;

    @include from(x-large) {
        position: relative;
        width: 40%;
        left: 0;
    }

    &.active {
      left: 0;
    }

    
  
}