.SideProfile {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $firstColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    transition: left .2s;

    &__profile {
        width: 100%;
    }

    &__return {
        margin-right: auto;
    }

    &.active {
        left: 0;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 2rem auto 1rem;
        cursor: pointer;
        object-fit: cover;
    }

    &__label {
        display: block;
        margin-bottom: 1rem;
    }

    &__filebutton {
        display: none;
    }

    &__buttonChange {
        background-color: $accentColor;
        color: #fff;
        padding: 1rem 4rem;
        border-radius: 8px;
        cursor: pointer;
        display: table;
        margin: 1rem auto 0;
    }
}